body {
    margin: 0;
    font-family: cursive;
}

.wrap {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time {
    font-size: 50px;
    margin: 0;
}

.date {
    font-size: 30px;
    margin: 0;
    text-align: center;
}

.nameContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 28px;
}

.greeting { padding-left: 14px }

.name {
    display: block;
    overflow: hidden;
    max-width: 200px;
    white-space: nowrap;
    padding-left: 20px;
    cursor: pointer;
    outline: none;
    text-align: center;
}

.name:focus {
    border-bottom: 1px solid;
}

.focusTitle {
    font-size: 24px;
}

.focus {
    display: block;
    overflow: hidden;
    max-width: 400px;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    border-bottom: 1px solid;
    font-size: 24px;
}

.quoteContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn {
    width: 200px;
    height: 40px;
    margin: 0 auto;
    font-size: 18px;
    border-radius: 15px;
    border: 1px solid black;
    outline: none;
    cursor: pointer;
}

.btn:hover {

}

.weather {
    position: absolute;
    top: 0;
    right: 0;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 0;
}

.temperature { grid-area: 1 / 2 / 2 / 3; }
.weather-icon { grid-area: 1 / 1 / 4 / 2; }
.weather-description { grid-area: 2 / 2 / 3 / 3; }
.city { grid-area: 3 / 2 / 4 / 3; }

.weather-icon {
    font-size: 80px !important;
}

.city {
    cursor: pointer;
    outline: none;
}

.city:focus {
    border-bottom: 1px solid;
}

@media (max-width: 500px) {
    .focusTitle { text-align: center }

    .focus {
        max-width: 280px;
    }
}